<!DOCTYPE html>
<html lang="en-us" id="@ViewBag.PageId" class="@SmartAdminMvc.Settings.CurrentTheme">
<head>
    <meta charset=" utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title> SmartAdmin - MVC5 </title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Basic Styles -->
    @Styles.Render("~/content/smartadmin")
    <!-- FAVICONS -->
    <link rel="shortcut icon" href="~/content/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/content/img/favicon/favicon.ico" type="image/x-icon">

    <!-- GOOGLE FONT -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

    <!-- Specifying a Webpage Icon for Web Clip
         Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
    <link rel="apple-touch-icon" href="~/content/img/splash/sptouch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/content/img/splash/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/content/img/splash/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/content/img/splash/touch-icon-ipad-retina.png">

    <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Startup image for web apps -->
    <link rel="apple-touch-startup-image" href="~/content/img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
    <link rel="apple-touch-startup-image" href="~/content/img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="~/content/img/splash/iphone.png" media="screen and (max-device-width: 320px)">

    <!--AspNetAwesome-->
    <link href="@Url.Content("~/Content/themes/wui/AwesomeMvc.css")?v=73" rel="stylesheet" type="text/css" id="aweStyle" />
    <link href="@Url.Content("~/Content/themes/wui/mods.css")?v=73" rel="stylesheet" type="text/css" id="modsStyle" />
    <link href="@Url.Content("~/Content/Common.css")?v=73" rel="stylesheet" type="text/css" />
    @*<link href="http://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />*@
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">*@
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.js"></script>

</head>
<body class="@ViewBag.PageClass @SmartAdminMvc.Settings.CurrentTheme">
    @{ Html.RenderPartial("_Header", RenderSection("topright", false)); }
    @{ Html.RenderPartialIf("_Aside",true); }
    <div id="main" role="main">
        @{ Html.RenderPartialIf("_Ribbon", true); }
        @RenderBody()
    </div>
    @if (true)
    {
        Html.RenderPartial("_Footer");
        Html.RenderPartialIf("_Tiles", SmartAdminMvc.Settings.EnableTiles);
    }
    @{ Html.RenderPartial("_Scripts", RenderSection("pagespecific", false)); }

    <!--AspNetAwesome-->
    @*<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.js" type="text/javascript"></script>*@
    @Scripts.Render("~/bundle/Scripts/js")
    <script>
        var isMobileOrTablet = '@MobileUtils.IsMobileOrTablet()' == "True";
        var dateFormat = '@AweUtil.ConvertTojQueryDateFormat(System.Threading.Thread.CurrentThread.CurrentCulture.DateTimeFormat.ShortDatePattern)';
        var decimalSep = '@System.Threading.Thread.CurrentThread.CurrentCulture.NumberFormat.NumberDecimalSeparator';

        awem.isMobileOrTablet = function () { return isMobileOrTablet; };
        utils.init(dateFormat, isMobileOrTablet, decimalSep);
        //awe.gmd = [awem.gridPageInfo];// set global grid mods

        var root = '@Url.Content("~")';
        var popupMod = 'bootstrap';
        setAweDemoPopup();
        $(function () { documentReady(root);});
        // to stop popup closing itself when click on the grey area
        $.fn.modal.prototype.constructor.Constructor.DEFAULTS.backdrop = 'static';
    </script>
    @*<script type="text/javascript" src="http://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>*@
    <script src="http://ajax.aspnetcdn.com/ajax/mvc/5.1/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
    @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>*@
    @*<script type='text/javascript'>
            $.fn.bootstrapBtn = $.fn.button.noConflict();
        </script>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>*@
</body>

</html>