
@{
    ViewBag.Title = "Rutas";
}

<!-- MAIN CONTENT -->
<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark"><i class="fa fa-comments"></i> @ViewBag.Title <span>> @ViewBag.Title List</span></h1>
        </div>
    </div>

    @*begin*@
    @Html.InitCrudPopupsForGrid(gridId: "appRutaGrid", crudController: "appRuta", itemCreatedSuccess: "itemCreatedSuccess('appRutaGrid')", itemEditedSuccess: "itemEditedSuccess")
    @(Html.Awe().InitPopup()
            .Name("createDetails_appRutaGrid")
            .Width(600)
            .Url(Url.Action("Details")))

    <div class="bar">
        <div style="float: right;">
            @Html.Awe().TextBox("txtSearch").Placeholder("search...").CssClass("searchtxt")
        </div>
        <button type="button" onclick="awe.open('createappRutaGrid')" class="awe-btn mbtn">Create</button>
    </div>

    @(Html.Awe().Grid("appRutaGrid")
            .Mod(o => o.PageInfo().ColumnsSelector().ColumnsAutohide()).ColumnsPersistence(Persistence.Local)
                        .Url(Url.Action("GridGetItems", "appRuta"))
            .Parent("txtSearch", "search")
            //.Height(350)
            .Columns(
            new Column { Bind = "Id", Width = 80 },
                            new Column { Bind = "nombre" },
                            new Column { Bind = "descrip" },
                            new Column { Bind = "dias" },
                            new Column { Bind = "activa" },
                            new Column { Bind = "currLat" },
                            new Column { Bind = "currLon" },
                            new Column { Bind = "currBus" },
                            new Column { Bind = "currChofer" },
                            new Column { Bind = "lastBoard" },
                    new Column { ClientFormat = GridUtils.EditFormatForGrid("appRutaGrid"), Width = 50 },
                    new Column { ClientFormat = GridUtils.DeleteFormatForGrid("appRutaGrid"), Width = 50 }))
</div>
@*end*@

<script type="text/javascript">
    function closePopup() {
        $(this).dialog('close');
    }
    function itemCreatedSuccess(gridId) {
        return function (item) {
            var $grid = $("#" + gridId);
            var $row = $grid.data('api').renderRow(item);
            $grid.find(".awe-content .awe-tbody").prepend($row);
            $row.addClass("awe-changing").removeClass("awe-changing", 1000);

            var data = $grid.data('o').lrs.Data;
            if (data.Items) {
                data.Items.unshift(item);
            } else {
                $grid.data('lrso', 1);
            }

            awe.open('createDetails_appRutaGrid', { params: { id: item.Id } });
        };
    }
    function itemEditedSuccess(gridId) {

        return function (item) {
            var $grid = $('#' + gridId);
            var api = $grid.data('api');
            var key = $grid.data('o').k;
            var xhr = api.update(item[key]);
            $.when(xhr).done(function () {

                var $row = api.select(item[key])[0];
                var altcl = $row.hasClass("awe-alt") ? "awe-alt" : "";
                $row.switchClass(altcl, "awe-changing", 1).switchClass("awe-changing", altcl, 1000);
                    
                $grid.data('lrso', 1);

                awe.open('createDetails_appRutaGrid', { params: { id: item.Id } });
            });
        };
    }

</script>