@model SmartAdminMvc.ViewModels.Input.appPromocioneInput
@using (Html.BeginForm())
{
    using (Html.Awe().BeginContext())
    {
        @Html.EditorFor(o => o.desc)
        @Html.EditorFor(o => o.detalle)
        @Html.EditorFor(o => o.foto)
        @Html.EditorFor(o => o.desde)
        @Html.EditorFor(o => o.hasta)
        <div class="efield">
            <div class="elabel">Sexo</div>
                <div class="einput">
                    @Html.DropDownListFor(o => o.sexo, new SelectList(
                  new List<Object>{
                       new { value = 1 , text = "M"  },
                       new { value = 0 , text = "F" }
                    },
                  "value",
                  "text",
                   2), new { @class = "efield" })
                </div>
            </div>
        @Html.EditorFor(o => o.edadMax)
        @Html.EditorFor(o => o.edadMin)
        @Html.EditorFor(o => o.tipoAsociado)
        @Html.EditorFor(o => o.nroCupones)
        @Html.EditorFor(o => o.marca)
        @Html.EditorFor(o => o.email)
        @Html.EditorFor(o => o.tel)
        @Html.EditorFor(o => o.direccion)
    }
}