@model AccountLoginModel
@{
    ViewBag.PageId = "extr-page";
    ViewBag.PageClass = "animated fadeInDown";
}
@section topright{
}
<div id="content" class="container">
    <div class="row">
        @{ Html.RenderPartial("_LoginText"); }
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
            <div class="well no-padding">
                <form action="@Url.Action("login", "account")" method="POST" id="login-form" class="smart-form client-form">
                    <header>
                        Iniciar sesión
                    </header>
                    @Html.HiddenFor(model => model.ReturnUrl)
                    @*@Html.HiddenFor(model => model.jwt_token)*@
                    @*@Html.AntiForgeryToken()*@
                    @Html.ValidationBootstrap()
                    <fieldset>
                        <section>
                            <label class="label">Usuario</label>
                            <label class="input">
                                <i class="icon-append fa fa-user"></i>
                                <input type="text" id="username" name="username" value="@Model.UserName">
                                <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Ingrese su usuario</b>
                            </label>
                        </section>
                        <section>
                            <label class="label">Clave</label>
                            <label class="input">
                                <i class="icon-append fa fa-lock"></i>
                                <input type="password" id="password" name="password" value="@Model.Password">
                                <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Clave</b>
                            </label>
                            <div class="note">
                                <a href="@Url.Action("forgotpassword", "account")"><i class="fa fa-frown-o"></i> Olvidaste tu clave?</a>
                            </div>
                        </section>
                        <section>
                            <label class="checkbox">
                                <input type="checkbox" id="rememberMe" name="rememberMe" value="@Model.RememberMe" @if (Model.RememberMe) { <text> checked="checked" </text> } />
                                <input type="hidden" name="rememberMe" value="false" />
                                <i></i>Mantener sesión abierta
                            </label>
                        </section>
                    </fieldset>
                    <footer>
                        <button type="button" onclick="GetToken();" class="btn btn-primary">
                            Ingresar
                        </button>
                    </footer>
                </form>
            </div>
       
        </div>
    </div>
</div>
@section pagespecific {
    <script type="text/javascript">

        function Login(jwt_token) {
            var username = $("#username").val();
            var password = $("#password").val();
            var rememberMe = $('#rememberMe').is(':checked');
            var returnUrl = $("#returnUrl").val();

            $.ajax({
                cache: false,
                type: "POST",
                url: "/admin/Account/login",
                data: {
                    "username": username,
                    "password": password,
                    "rememberMe": rememberMe,
                    "returnUrl": returnUrl,
                    "jwt_token": jwt_token,
                },
                success: function (data) {

                    if (data.Success) {
                        window.location.href = data.ReturnUrl;
                        return;
                    }

                    alert(data.Message);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to login.');
                    alert(xhr.responseText);
                }
            });
        }

        function GetToken() {

            var username = $("#username").val();
            var password = $("#password").val();

            if (!username) {
                alert('Please enter your user name.')
                return;
            }
            if (!password) {
                alert('Please enter your password.')
                return;
            }

            $.ajax({
                cache: false,
                type: "POST",
                url: "http://app.crl.pe/login",
                data: {
                    "username": username,
                    "password": password,
                },
                datatype: "application/json",
                success: function (data) {
                    data.Token='eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJJRCI6IjUzOTQ2NGI4LTAzYWMtNDA4Mi05NGM1LTk4NjU2MTYzOGUxMCIsIklkQXNvY2lhZG8iOiIwIiwiQ29uc2VjdXRpdm8iOiIwIiwiTm9tYnJlIjoiU1lTVEVNIiwiQXBlbGxpZG8iOiJBRE1JTiIsInBlcnNvbmFsQ1JMIjoiMSIsIm5pdmVsQWNjZXNvIjoiMTAiLCJpc3MiOiJodHRwOi8vYXBpLmNybC5wZSIsImF1ZCI6Imh0dHA6Ly9hcGkuY3JsLnBlIiwiZXhwIjoxNDU2NDc3Njk1LCJuYmYiOjE0NTI1ODk2OTV9.arKtDo567ncCIXVwBlfMJmhgSw4wQe-MJOuV9FvXwio';
                    if (data.Token) {
                        Login(data.Token);
                        return;
                    }

                    alert('No token returned.');
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Invalid username/password.\r\nOr the host is down.');
                    //alert(xhr.responseText);
                }
            });
        }
    </script>
}